<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <form action="/datos" method="POST" >
    <label for="nombre y apellido">nombre y apellido</label>
    <label for="nombre de usuario">nombre de usuario</label>
    <label for="email">E-mail</label>
    <h2>fecha de nacimiento</h2>
    <label for="nombre y apellido">mm/dd/yyyy</label>
    <label for="nombre y apellido">domicilio</label>
    <h2>perfil de usuario</h2>
    <label for="comprador">comprador</label>
    <imput type="comprador" id="comprador" value="comprador"></imput>
    <label for="vendedor">vendedor</label>
    <imput type="vendedor" id="vendedor" value="vendedor"></imput>
    <h2>intereses</h2>
    <label for="electronicos">electronicos</label>
    <imput type="electronicos" id="electronicos" value="electronicos"></imput>
    <label for="moda">moda</label>
    <imput type="moda" id="moda" value="moda"></imput>
    <label for="hogar">hogar</label>
    <imput type="hogar" id="hogar" value="hogar"></imput>
    <label for="vida sana">vida sana</label>
    <imput type="vida sana" id="vida sana" value="vida sana"></imput>
    </form>

</body>
</html>


</body>
</html>